openapi: 3.1.0
info:
  title: SoccersAPI
  description: >-
    REST API for football (soccer) data: search, livescores, fixtures, leagues,
    teams, seasons, players, coaches, referees, venues, statistics, head-to-head,
    bookmakers, markets, broadcasts and media.


    Authentication is required on every request via the `user` and `token`
    query parameters.
  version: 2.2.0
  contact:
    name: SoccersAPI
    url: https://soccersapi.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.soccersapi.com
    description: Production
tags:
  - name: Search
    description: Find matches and football entities by keyword.
  - name: Geography
    description: Continents and countries used by the football data model.
  - name: Competitions
    description: Leagues, seasons, stages, groups and rounds.
  - name: Teams
    description: Team profiles, lists, squads, transfers and related datasets.
  - name: Livescores
    description: Live and day-based match feeds.
  - name: Fixtures
    description: Fixture lists, match details and match-related datasets.
  - name: Statistics
    description: Match, league, season, team and player statistics.
  - name: Head to head
    description: Historical matchups between matches or teams.
  - name: Leaders
    description: Competition leaderboards such as scorers, assists and cards.
  - name: Betting
    description: Bookmakers, markets and match odds metadata.
  - name: Broadcast
    description: Television schedules and match broadcast availability.
  - name: People
    description: Players, coaches and referees.
  - name: Venues
    description: Stadium and venue information.
  - name: Media
    description: Match media and highlight resources.
paths:
  /v2.2/search/:
    get:
      summary: Search Match
      operationId: searchResources
      deprecated: false
      description: >-
        Find a specific match by keyword (team names, league, etc.).  

        Returns match ID and basic details for use in match endpoints.


        **Example:**

        ```bash

        curl -L -g
        "https://api.soccersapi.com/v2.2/search/?user={{USERNAME}}&token={{TOKEN}}&t=match&q=salzburg"
        ```
      tags:
        - Search
      parameters:
        - name: user
          in: query
          description: Account username.
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: API token generated in the account dashboard.
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: Resource type to search; this operation searches matches.
          required: true
          example: match
          schema:
            type: string
        - name: q
          in: query
          description: Search text, such as a team, league or participant name.
          required: true
          example: salzburg
          schema:
            type: string
        - name: utc
          in: query
          description: Optional UTC offset for returned match times.
          required: false
          example: 2
          schema:
            type: number
            minimum: -12
            maximum: 14
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        startdate:
                          type: string
                        name:
                          type: string
                        home:
                          type: string
                        away:
                          type: string
                        league_name:
                          type: string
                        country_name:
                          type: string
                        cc:
                          type:
                            - string
                            - 'null'
                        type:
                          type: string
                      required:
                        - id
                        - startdate
                        - name
                        - home
                        - away
                        - league_name
                        - country_name
                        - cc
                        - type
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      count:
                        type: integer
                      total:
                        type: integer
                      msg:
                        type: string
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - count
                      - total
                      - msg
                required:
                  - data
                  - meta
              example:
                data:
                  - id: 2411325
                    startdate: '2025-09-28 14:30:00'
                    name: Tirol vs Salzburg
                    home: Tirol
                    away: Salzburg
                    league_name: Bundesliga
                    country_name: Austria
                    cc: at
                    type: match
                  - id: 2472985
                    startdate: '2025-10-02 21:00:00'
                    name: Lyon vs Salzburg
                    home: Lyon
                    away: Salzburg
                    league_name: UEFA Europa League
                    country_name: Europe
                    cc: null
                    type: match
                  - id: 2417866
                    startdate: '2025-10-03 18:00:00'
                    name: Sudburgenland vs Fc salzburg frauen
                    home: Sudburgenland
                    away: Fc salzburg frauen
                    league_name: Bundesliga, Women
                    country_name: Austria
                    cc: at
                    type: match
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  count: 0
                  total: 0
                  msg: ''
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/continents/:
    get:
      summary: Continent by ID
      operationId: getContinents
      deprecated: false
      description: >+
        The **Continent by ID** endpoint retrieves details for a specific
        continent using its unique `id`.  

        This is useful when you already know the continent ID and want to
        confirm its details or use it as part of a larger workflow (e.g.,
        continent → countries → leagues).


        ---


        ## Example Request

        ```bash

        curl -L -g
        "https://api.soccersapi.com/v2.2/continents/?user={{USERNAME}}&token={{TOKEN}}&t=info&id=2"
        ```


      tags:
        - Geography
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '2'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - name
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      msg:
                        type: string
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - msg
                required:
                  - data
                  - meta
              example:
                data:
                  id: 2
                  name: Europe
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  msg: ''
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/countries/:
    get:
      summary: Country by ID
      operationId: getCountries
      deprecated: false
      description: >
        The **Country by ID** endpoint retrieves detailed information about a
        single country using its unique `id`.  

        It returns the country’s name, ISO code, continent, and image flag.  


        This endpoint is useful when you already know a `country_id` (for
        example, from a league, team, or venue object) and want to confirm its
        details or display localized information in your app.  


        ### Typical Use Cases

        - Show the full country profile on a team, player, or league page.  

        - Validate a `country_id` before using it in another request.  

        - Power country selectors with localized names and flags.  


        Example: requesting `id=15` returns details for **Austria**.  


        ### Example Request

        ```bash

        curl -L -g
        "https://api.soccersapi.com/v2.2/countries/?user={{USERNAME}}&token={{TOKEN}}&t=info&id=15"
        ```
      tags:
        - Geography
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '4'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      continent:
                        type: string
                      sub_region:
                        type: 'null'
                      long:
                        type: 'null'
                      lat:
                        type: 'null'
                      img:
                        type: string
                      code:
                        type: string
                    required:
                      - id
                      - name
                      - continent
                      - sub_region
                      - long
                      - lat
                      - img
                      - code
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      msg:
                        type: string
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - msg
                required:
                  - data
                  - meta
              example:
                data:
                  id: 4
                  name: Germany
                  continent: Europe
                  sub_region: null
                  long: null
                  lat: null
                  img: https://cdn.soccersapi.com/images/countries/30/de.png
                  code: de
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  msg: ''
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/leagues/:
    get:
      summary: Cup Draw (Tournament Bracket)
      operationId: getLeagues
      deprecated: false
      description: >-
        Retrieve league data. The `t` selector determines the operation; this
        definition shows `cup_draw`, which requires `season_id` and `stage_id`.
        Other documented selectors include `list`, `info`, `sort`, `standings`
        and `standings_live`.
      tags:
        - Competitions
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: cup_draw
          schema:
            type: string
        - name: season_id
          in: query
          description: ''
          required: true
          example: '45'
          schema:
            type: string
        - name: stage_id
          in: query
          description: ''
          required: true
          example: '26'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/teams/:
    get:
      summary: Team Transfers
      operationId: getTeams
      deprecated: false
      description: >-
        Retrieve team data. The `t` selector determines the operation; this
        definition shows `transfers`. Team profiles, lists, season membership,
        sidelined players and trophies are available through their documented
        selectors when covered by the account plan and data source.
      tags:
        - Teams
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: transfers
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '111'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      arrivals:
                        type: array
                        items:
                          type: object
                          properties:
                            player:
                              type: object
                              properties:
                                id:
                                  type: 'null'
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            team_left:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            type:
                              type: string
                            date:
                              type: 'null'
                            fee:
                              type: string
                          required:
                            - player
                            - team_left
                            - type
                            - date
                            - fee
                      departures:
                        type: 'null'
                    required:
                      - arrivals
                      - departures
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      count:
                        type: integer
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - count
                required:
                  - data
                  - meta
              example:
                data:
                  arrivals:
                    - player:
                        id: null
                        name: Luis Díaz
                      team_left:
                        id: 1
                        name: Liverpool FC
                      type: Buy
                      date: null
                      fee: €70.00m
                    - player:
                        id: null
                        name: Nicolas Jackson
                      team_left:
                        id: 20
                        name: Chelsea FC
                      type: Loan
                      date: null
                      fee: €16.50m
                    - player:
                        id: null
                        name: Jonathan Tah
                      team_left:
                        id: 114
                        name: Bayer 04 Leverkusen
                      type: Buy
                      date: null
                      fee: €2.00m
                    - player:
                        id: null
                        name: Tom Bischof
                      team_left:
                        id: 2818
                        name: TSG 1899 Hoffenheim
                      type: Buy
                      date: null
                      fee: €300k
                    - player:
                        id: null
                        name: Jonah Kusi-Asare
                      team_left:
                        id: 3846
                        name: FC Bayern Munich II
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Lennart Karl
                      team_left:
                        id: 5225
                        name: FC Bayern Munich U19
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Mathys Tel
                      team_left:
                        id: 13
                        name: Tottenham Hotspur
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Paul Wanner
                      team_left:
                        id: 2856
                        name: 1. FC Heidenheim 1846
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Bryan Zaragoza
                      team_left:
                        id: 122
                        name: CA Osasuna
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Arijon Ibrahimovic
                      team_left:
                        id: 398
                        name: SS Lazio Roma
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Frans Krätzig
                      team_left:
                        id: 2856
                        name: 1. FC Heidenheim 1846
                      type: ''
                      date: null
                      fee: '-'
                    - player:
                        id: null
                        name: Lovro Zvonarek
                      team_left:
                        id: 2874
                        name: SK Sturm Graz
                      type: ''
                      date: null
                      fee: '-'
                  departures: null
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  count: 1
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/seasons/:
    get:
      summary: Season by ID
      operationId: getSeasons
      deprecated: false
      description: Retrieve a season by its SoccersAPI identifier.
      tags:
        - Competitions
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '406'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/stages/:
    get:
      summary: Stages by Season
      operationId: getStages
      deprecated: false
      description: Retrieve the competition stages that belong to a season.
      tags:
        - Competitions
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: byseason
          schema:
            type: string
        - name: season_id
          in: query
          description: ''
          required: true
          example: '2091'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/groups/:
    get:
      summary: Groups by Season
      operationId: getGroups
      deprecated: false
      description: Retrieve the competition groups that belong to a season.
      tags:
        - Competitions
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: byseason
          schema:
            type: string
        - name: season_id
          in: query
          description: ''
          required: true
          example: '7011'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/rounds/:
    get:
      summary: Rounds by Season
      operationId: getRounds
      deprecated: false
      description: Retrieve the competition rounds that belong to a season.
      tags:
        - Competitions
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: byseason
          schema:
            type: string
        - name: season_id
          in: query
          description: ''
          required: true
          example: '406'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/livescores/:
    get:
      summary: Livescores and daily match feeds
      operationId: getLivescores
      deprecated: false
      description: |-
        Returns a list of matches for the feed selected with `t`.

        ## Include match events in the same request

        Use the dataset name `events`:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=live&include=events
        ```

        Each match then has an `events` array. To receive events and team match
        statistics together, use `include=events,stats` (comma-separated, with
        no spaces).

        `match_events` is **not** an include value. It is the `t` value of the
        separate fixture endpoint (`/v2.2/fixtures/?t=match_events&id=...`).
        Unsupported include values are ignored, so using
        `include=match_events` does not add an events array.

        The included datasets are part of this API call; a separate events call
        is not required. Dataset availability and completeness still depend on
        the match and competition coverage.

        ## Live publication behavior

        Scores and event attribution are updated independently. A score change
        can therefore be visible before the goal event, scorer or assist has
        been published by the source. No fixed maximum delay is guaranteed.
        Keep events on the normal livescores polling cycle. If attribution is
        incomplete, read it again on the next scheduled poll instead of adding
        an immediate high-frequency events loop.
      tags:
        - Livescores
      parameters:
        - name: user
          in: query
          description: Account username.
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: API token generated in the account dashboard.
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: |-
            Feed to return: `live` for matches currently in play; `today`,
            `tomorrow` or `yesterday` for a calendar-day feed; `notstarted` or
            `ended` for today's matches filtered by status.
          required: true
          example: live
          schema:
            type: string
            enum:
              - live
              - today
              - tomorrow
              - yesterday
              - notstarted
              - ended
        - name: include
          in: query
          description: |-
            Comma-separated datasets to embed in every match. Use `events` for
            the match timeline and `stats` for team match statistics. Live feeds
            also support `odds_prematch` and `odds_inplay` where the plan and
            match coverage provide them. Do not insert spaces between values.
          required: false
          example: events,stats
          schema:
            type: string
        - name: utc
          in: query
          description: |-
            UTC offset applied to returned date/time values, including half-hour
            offsets such as `4.5`. Omit it for the API default.
          required: false
          example: 2
          schema:
            type: number
            minimum: -12
            maximum: 14
        - name: lang
          in: query
          description: Language code for localized values where available.
          required: false
          example: en
          schema:
            type: string
      responses:
        '200':
          description: Match feed. Included datasets appear on each match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchListResponse'
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The requested data is not available on the account plan.
        '400':
          description: Invalid query parameter.
        '429':
          description: Request limit exceeded.
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/fixtures/:
    get:
      summary: Fixtures, match details and match datasets
      operationId: getFixtures
      deprecated: false
      description: |-
        Multipurpose fixture endpoint. The `t` query parameter selects the
        operation.

        | Operation | Required parameters | Purpose |
        | --- | --- | --- |
        | `schedule` | `d` | Fixtures on a date; optional league/country/season filters. |
        | `season` | `season_id` | Fixtures in a season; optional stage/group/team filters. |
        | `round` | `round_id` | Fixtures in a round; optional team filter. |
        | `info` | `id` | One match by ID. |
        | `sort` | `ids` | Multiple matches by comma-separated IDs. |
        | `match_events` | `id` | Standalone event timeline for one match. |
        | `match_lineups` | `id` | Match formations and lineups. |
        | `match_bench` | `id` | Match bench players. |
        | `match_sidelined` | `id` | Injured or suspended players for a match. |
        | `match_odds` | `id` | Pre-match odds. |
        | `match_oddsinplay` | `id` | In-play odds. |
        | `match_odds_info` | `id`, `bookmaker_id` | Match odds for one bookmaker. |

        ## Embedded events and stats

        For match-returning operations (`schedule`, `info` and `sort`), add the
        dataset names `events` and/or `stats`:

        ```http
        GET /v2.2/fixtures/?user=USER&token=TOKEN&t=info&id=2589310&include=events,stats
        GET /v2.2/fixtures/?user=USER&token=TOKEN&t=sort&ids=2589310,2589313&include=events
        ```

        The returned match object contains `events` and/or `stats`. The physical
        match-detail endpoint is `fixtures?t=info`; `match_by_id` is not a valid
        `t` value and `/v2.2/matches/` is not a v2.2 endpoint.

        To fetch only the timeline, use:

        ```http
        GET /v2.2/fixtures/?user=USER&token=TOKEN&t=match_events&id=2589310
        ```

        Event IDs can be JSON numbers or numeric strings depending on the
        operation. Treat IDs as opaque values and normalize them before strict
        comparisons.
      tags:
        - Fixtures
      parameters:
        - name: user
          in: query
          description: Account username.
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: API token generated in the account dashboard.
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: Operation selector. See the operation table above.
          required: true
          example: info
          schema:
            type: string
            enum:
              - schedule
              - season
              - stage
              - round
              - info
              - sort
              - match_events
              - match_lineups
              - match_bench
              - match_comments
              - match_sidelined
              - match_odds
              - match_oddsinplay
              - match_odds_info
        - name: id
          in: query
          description: Match ID. Required by single-match operations.
          required: false
          example: '2589310'
          schema:
            type: string
        - name: ids
          in: query
          description: Comma-separated match IDs. Required when `t=sort`.
          required: false
          example: 2589310,2589313
          schema:
            type: string
        - name: d
          in: query
          description: Calendar date in `YYYY-MM-DD` format. Required when `t=schedule`.
          required: false
          example: '2026-08-30'
          schema:
            type: string
            format: date
        - name: season_id
          in: query
          description: Season ID. Required when `t=season`; optional schedule filter.
          required: false
          schema:
            type: string
        - name: stage_id
          in: query
          description: Optional stage filter.
          required: false
          schema:
            type: string
        - name: group_id
          in: query
          description: Optional group filter.
          required: false
          schema:
            type: string
        - name: round_id
          in: query
          description: Round ID. Required when `t=round`.
          required: false
          schema:
            type: string
        - name: team_id
          in: query
          description: Optional team filter for season, stage or round fixture lists.
          required: false
          schema:
            type: string
        - name: league_id
          in: query
          description: Optional league filter when `t=schedule`.
          required: false
          schema:
            type: string
        - name: country_id
          in: query
          description: Optional country filter when `t=schedule`.
          required: false
          schema:
            type: string
        - name: bookmaker_id
          in: query
          description: Bookmaker ID. Required when `t=match_odds_info`.
          required: false
          schema:
            type: string
        - name: include
          in: query
          description: |-
            Comma-separated datasets embedded into match objects. Use `events`
            and `stats` with `schedule`, `info` or `sort`. Other supported match
            datasets include `broadcast`, `odds_prematch` and `odds_inplay`
            where coverage and plan access allow them. Do not use
            `match_events` or `match_stats` here.
          required: false
          example: events,stats
          schema:
            type: string
        - name: utc
          in: query
          description: UTC offset, including decimal offsets such as `4.5`.
          required: false
          schema:
            type: number
            minimum: -12
            maximum: 14
        - name: lang
          in: query
          description: Language code for localized values where available.
          required: false
          example: en
          schema:
            type: string
      responses:
        '200':
          description: |-
            The `data` shape depends on `t`: a match object for `info`, an array
            of matches for list/batch operations, an event array for
            `match_events`, or the selected match dataset for other operations.
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/MatchDetailResponse'
                  - $ref: '#/components/schemas/MatchListResponse'
                  - $ref: '#/components/schemas/MatchEventsResponse'
                  - $ref: '#/components/schemas/MatchStatsResponse'
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The requested data is not available on the account plan.
        '400':
          description: Invalid `t` value or missing operation-specific parameter.
        '429':
          description: Request limit exceeded.
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/stats/:
    get:
      summary: Player Stats by Match ID
      operationId: getStatistics
      deprecated: false
      description: >-
        Retrieve statistics for a match, league, season, team or player. The
        `t` selector and identifier parameters determine the dataset; this
        definition shows player statistics filtered by `match_id`.
      tags:
        - Statistics
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: player
          schema:
            type: string
        - name: player_id
          in: query
          description: ''
          required: true
          example: '11306'
          schema:
            type: string
        - name: match_id
          in: query
          description: ''
          required: true
          example: '1531916'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/h2h/:
    get:
      summary: H2H Team vs Team
      operationId: getHeadToHead
      deprecated: false
      description: Retrieve historical head-to-head matches for two teams.
      tags:
        - Head to head
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: teams
          schema:
            type: string
        - name: team1
          in: query
          description: ''
          required: true
          example: '99'
          schema:
            type: string
        - name: team2
          in: query
          description: ''
          required: true
          example: '113'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/leaders/:
    get:
      summary: Topassists
      operationId: getLeaders
      deprecated: false
      description: >-
        Retrieve season leaderboards. Supported datasets include top scorers,
        top assists and cards, selected with `t`.
      tags:
        - Leaders
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: topassists
          schema:
            type: string
        - name: season_id
          in: query
          description: ''
          required: true
          example: '12516'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/bookmakers/:
    get:
      summary: Bookmaker by ID
      operationId: getBookmakers
      deprecated: false
      description: Retrieve bookmaker metadata by its SoccersAPI identifier.
      tags:
        - Betting
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '2'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/markets/:
    get:
      summary: Market by ID
      operationId: getMarkets
      deprecated: false
      description: Retrieve betting-market metadata by its SoccersAPI identifier.
      tags:
        - Betting
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '1'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/broadcast/:
    get:
      summary: Matches on TV by Date
      operationId: getBroadcasts
      deprecated: false
      description: Retrieve the television schedule for matches on a date.
      tags:
        - Broadcast
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: schedule
          schema:
            type: string
        - name: d
          in: query
          description: ''
          required: true
          example: '2022-09-01'
          schema:
            type: string
        - name: include
          in: query
          description: ''
          required: true
          example: tvs
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/players/:
    get:
      summary: Players by Country
      operationId: getPlayers
      deprecated: false
      description: Retrieve players filtered by country.
      tags:
        - People
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: list
          schema:
            type: string
        - name: country_id
          in: query
          description: ''
          required: true
          example: '4'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/coaches/:
    get:
      summary: Coaches by Country
      operationId: getCoaches
      deprecated: false
      description: Retrieve coaches filtered by country.
      tags:
        - People
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: list
          schema:
            type: string
        - name: country_id
          in: query
          description: ''
          required: true
          example: '25'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/referees/:
    get:
      summary: Referee by ID
      operationId: getReferees
      deprecated: false
      description: Retrieve a referee by their SoccersAPI identifier.
      tags:
        - People
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: info
          schema:
            type: string
        - name: id
          in: query
          description: ''
          required: true
          example: '372'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      common_name:
                        type: string
                      firstname:
                        type: string
                      lastname:
                        type: string
                      birthdate:
                        type: string
                      img:
                        type: string
                      country:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          cc:
                            type: string
                        required:
                          - id
                          - name
                          - cc
                    required:
                      - id
                      - name
                      - common_name
                      - firstname
                      - lastname
                      - birthdate
                      - img
                      - country
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      count:
                        type: integer
                      total:
                        type: integer
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - count
                      - total
                required:
                  - data
                  - meta
              example:
                data:
                  id: '372'
                  name: Deniz Aytekin
                  common_name: Aytekin, Deniz
                  firstname: Deniz
                  lastname: Aytekin
                  birthdate: 21/07/78
                  img: https://cdn.soccersapi.com/images/soccer/referees/50/372.png
                  country:
                    id: 4
                    name: Germany
                    cc: de
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  count: 1
                  total: 1
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/venues/:
    get:
      summary: Venues by Country
      operationId: getVenues
      deprecated: false
      description: Retrieve venues filtered by country.
      tags:
        - Venues
      parameters:
        - name: user
          in: query
          description: ''
          required: true
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: ''
          required: true
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: t
          in: query
          description: ''
          required: true
          example: list
          schema:
            type: string
        - name: country_id
          in: query
          description: ''
          required: true
          example: '15'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        capacity:
                          type:
                            - integer
                            - 'null'
                        city:
                          type: string
                        address:
                          type:
                            - string
                            - 'null'
                        img:
                          type: string
                        coordinates:
                          type:
                            - object
                            - 'null'
                          properties:
                            lat:
                              type: string
                            long:
                              type: string
                          required:
                            - lat
                            - long
                        country:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            continent:
                              type: string
                            sub_region:
                              type: 'null'
                            long:
                              type: 'null'
                            lat:
                              type: 'null'
                            img:
                              type: string
                            code:
                              type: string
                            cc:
                              type: string
                          required:
                            - id
                            - name
                            - continent
                            - sub_region
                            - long
                            - lat
                            - img
                            - code
                            - cc
                      required:
                        - id
                        - name
                        - capacity
                        - city
                        - address
                        - img
                        - coordinates
                        - country
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      count:
                        type: integer
                      total:
                        type: integer
                      msg:
                        type: string
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - count
                      - total
                      - msg
                required:
                  - data
                  - meta
              example:
                data:
                  - id: 191
                    name: Cashpoint Arena
                    capacity: 8500
                    city: Altach
                    address: null
                    img: https://cdn.soccersapi.com/images/soccer/venues/191.png
                    coordinates:
                      lat: '47.353889'
                      long: '9.636667'
                    country:
                      id: 15
                      name: Austria
                      continent: Europe
                      sub_region: null
                      long: null
                      lat: null
                      img: https://cdn.soccersapi.com/images/countries/30/at.png
                      code: at
                      cc: at
                  - id: 192
                    name: Lavanttal-Arena
                    capacity: 7300
                    city: Wolfsberg
                    address: null
                    img: https://cdn.soccersapi.com/images/soccer/venues/192.png
                    coordinates:
                      lat: '46.826258'
                      long: '14.851989'
                    country:
                      id: 15
                      name: Austria
                      continent: Europe
                      sub_region: null
                      long: null
                      lat: null
                      img: https://cdn.soccersapi.com/images/countries/30/at.png
                      code: at
                      cc: at
                  - id: 321
                    name: Stadion Birkenwiese
                    capacity: 12000
                    city: Dornbirn
                    address: Hochsterstrasse 78a
                    img: https://cdn.soccersapi.com/images/soccer/venues/321.png
                    coordinates:
                      lat: '47.416498'
                      long: '9.724090'
                    country:
                      id: 15
                      name: Austria
                      continent: Europe
                      sub_region: null
                      long: null
                      lat: null
                      img: https://cdn.soccersapi.com/images/countries/30/at.png
                      code: at
                      cc: at
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 2
                  page: 1
                  count: 100
                  total: 147
                  msg: ''
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
  /v2.2/media/:
    get:
      summary: Media Highlights
      operationId: getMedia
      deprecated: false
      description: Fetch video highlights by league, team, event, date
      tags:
        - Media
      parameters:
        - name: user
          in: query
          description: username
          required: false
          example: '{{USERNAME}}'
          schema:
            type: string
        - name: token
          in: query
          description: token
          required: false
          example: '{{TOKEN}}'
          schema:
            type: string
        - name: id
          in: query
          description: ID
          required: false
          example: '637'
          schema:
            type: string
        - name: t
          in: query
          description: type
          required: false
          example: league
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          league_id:
                            type: integer
                          season_id:
                            type: integer
                          home_id:
                            type: integer
                          away_id:
                            type: integer
                          round_id:
                            type: integer
                          stage_id:
                            type: integer
                          group_id:
                            type: integer
                          startdate:
                            type: string
                          title:
                            type: string
                          image:
                            type: string
                          url:
                            type: string
                          source:
                            type: string
                        required:
                          - id
                          - league_id
                          - season_id
                          - home_id
                          - away_id
                          - round_id
                          - stage_id
                          - group_id
                          - startdate
                          - title
                          - image
                          - url
                          - source
                  meta:
                    type: object
                    properties:
                      requests_left:
                        type: integer
                      user:
                        type: string
                      plan:
                        type: string
                      pages:
                        type: integer
                      page:
                        type: integer
                      total:
                        type: integer
                      msg:
                        type: string
                    required:
                      - requests_left
                      - user
                      - plan
                      - pages
                      - page
                      - total
                      - msg
                required:
                  - data
                  - meta
              example:
                data:
                  - - id: 1843815
                      league_id: 637
                      season_id: 14341
                      home_id: 116
                      away_id: 118
                      round_id: 182349
                      stage_id: 207
                      group_id: 1
                      startdate: '2024-11-24 20:00:00'
                      title: >-
                        ATHLETIC CLUB 1 - 0 REAL SOCIEDAD I RESUMEN LALIGA EA
                        SPORTS
                      image: https://i.ytimg.com/vi/aVy9O_x1Fe8/maxresdefault.jpg
                      url: https://www.youtube.com/watch?v=aVy9O_x1Fe8
                      source: www.youtube.com
                    - id: 1843819
                      league_id: 637
                      season_id: 14341
                      home_id: 121
                      away_id: 113
                      round_id: 182349
                      stage_id: 207
                      group_id: 1
                      startdate: '2024-11-24 17:30:00'
                      title: CD LEGANÉS 0 - 3 REAL MADRID I RESUMEN LALIGA EA SPORTS
                      image: https://i.ytimg.com/vi/pQVtyVtkGfM/maxresdefault.jpg
                      url: https://www.youtube.com/watch?v=pQVtyVtkGfM
                      source: www.youtube.com
                    - id: 1843819
                      league_id: 637
                      season_id: 14341
                      home_id: 121
                      away_id: 113
                      round_id: 182349
                      stage_id: 207
                      group_id: 1
                      startdate: '2024-11-24 17:30:00'
                      title: CD LEGANÉS 0 - 3 REAL MADRID I RESUMEN LALIGA EA SPORTS
                      image: https://i.ytimg.com/vi/9lStg3L28xQ/maxresdefault.jpg
                      url: https://www.youtube.com/watch?v=9lStg3L28xQ
                      source: www.youtube.com
                meta:
                  requests_left: 2950
                  user: your_username
                  plan: Soccer API 50
                  pages: 1
                  page: 1
                  total: 56
                  msg: ''
          headers: {}
        '4XX':
          $ref: '#/components/responses/ClientError'
      security: []
webhooks: {}
components:
  responses:
    ClientError:
      description: |-
        Client error. Depending on the status, the request can contain invalid
        parameters, invalid credentials, unavailable plan data, an unknown
        resource or an exhausted request allowance. Inspect the HTTP status and
        `msg`/`meta.msg` when present.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        msg:
          type:
            - string
            - 'null'
        data: {}
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      additionalProperties: true
    FlexibleId:
      description: |-
        Resource identifier. Some operations serialize IDs as JSON numbers and
        others as numeric strings; clients should treat the value as opaque.
      oneOf:
        - type: integer
        - type: string
    NullableFlexibleId:
      oneOf:
        - $ref: '#/components/schemas/FlexibleId'
        - type: 'null'
    NullableMinute:
      oneOf:
        - type: integer
        - type: string
        - type: 'null'
    ResponseMeta:
      type: object
      description: Request quota and pagination metadata.
      properties:
        requests_left:
          type: integer
        user:
          type: string
        plan:
          type: string
        pages:
          type: integer
        page:
          type:
            - integer
            - string
            - 'null'
        count:
          type: integer
        total:
          type: integer
        msg:
          type:
            - string
            - 'null'
      additionalProperties: true
    MatchEvent:
      type: object
      description: |-
        One event in a match timeline. Fields are nullable because coverage and
        source attribution vary. For a goal, `player_*` identifies the scorer
        and `related_player_*` identifies the assist provider when supplied.
        Names can be available while the corresponding ID is still null.
      properties:
        team_id:
          $ref: '#/components/schemas/NullableFlexibleId'
        type:
          type: string
          description: |-
            Normalized event type, for example `goal`, `yellowcard`, `redcard`,
            `substitution`, `corner`, `shot_on_target` or `shot_off_target`.
        period:
          type:
            - string
            - 'null'
          examples:
            - 1st half
            - 2nd half
        player_id:
          $ref: '#/components/schemas/NullableFlexibleId'
        player_name:
          type:
            - string
            - 'null'
          description: Scorer for a goal; primary player for other event types.
        related_player_id:
          $ref: '#/components/schemas/NullableFlexibleId'
        related_player_name:
          type:
            - string
            - 'null'
          description: Assist provider for a goal when supplied by the source.
        minute:
          $ref: '#/components/schemas/NullableMinute'
        extra_minute:
          $ref: '#/components/schemas/NullableMinute'
        timestamp:
          description: Higher-precision event time when supplied; otherwise null.
          oneOf:
            - type: integer
            - type: string
            - type: 'null'
        reason:
          type:
            - string
            - 'null'
        injuried:
          description: Injury flag supplied by the API. The wire name is intentionally `injuried`.
          oneOf:
            - type: boolean
            - type: string
            - type: 'null'
        own_goal:
          type:
            - boolean
            - 'null'
        penalty:
          type:
            - boolean
            - 'null'
        result:
          type:
            - string
            - 'null'
          description: Score/result context when the source supplies it.
        info:
          type:
            - string
            - 'null'
          description: Human-readable context, such as the assist attribution.
      additionalProperties: true
      examples:
        - team_id: 20
          type: goal
          period: 1st half
          player_id: 311
          player_name: Neto
          related_player_id: 99608
          related_player_name: Rogers
          minute: '14'
          extra_minute: null
          timestamp: null
          reason: null
          injuried: null
          own_goal: false
          penalty: false
          result: null
          info: 'Assist by: Rogers'
    MatchStatistic:
      type: object
      description: Team statistics for one match. Metric availability varies by coverage.
      properties:
        team_id:
          $ref: '#/components/schemas/NullableFlexibleId'
        key_passes:
          type:
            - integer
            - number
            - string
            - 'null'
        passing_accuracy:
          type:
            - integer
            - number
            - string
            - 'null'
        fouls:
          type:
            - integer
            - number
            - string
            - 'null'
        corners:
          type:
            - integer
            - number
            - string
            - 'null'
        shots_total:
          type:
            - integer
            - number
            - string
            - 'null'
        shots_on_target:
          type:
            - integer
            - number
            - string
            - 'null'
        shots_off_target:
          type:
            - integer
            - number
            - string
            - 'null'
        possessionpercent:
          type:
            - integer
            - number
            - string
            - 'null'
        goals:
          type:
            - integer
            - number
            - string
            - 'null'
        xg:
          type:
            - integer
            - number
            - string
            - 'null'
      additionalProperties: true
    Match:
      type: object
      description: |-
        Match snapshot. `events` and `stats` are present only when requested as
        includes and supported for the match.
      properties:
        id:
          $ref: '#/components/schemas/FlexibleId'
        status:
          oneOf:
            - type: integer
            - type: string
        status_name:
          type: string
        status_period:
          type:
            - string
            - 'null'
        time:
          type: object
          properties:
            datetime:
              type: string
            date:
              type: string
              format: date
            time:
              type: string
            minute:
              $ref: '#/components/schemas/NullableMinute'
            timestamp:
              oneOf:
                - type: integer
                - type: string
                - type: 'null'
            timezone:
              type: string
          additionalProperties: true
        teams:
          type: object
          properties:
            home:
              type: object
              additionalProperties: true
            away:
              type: object
              additionalProperties: true
          additionalProperties: true
        league:
          type: object
          additionalProperties: true
        scores:
          type: object
          additionalProperties: true
        coverage:
          type: object
          additionalProperties: true
        events:
          type: array
          description: Present when `include` contains `events`; may be empty.
          items:
            $ref: '#/components/schemas/MatchEvent'
        stats:
          type: array
          description: Present when `include` contains `stats`; normally one item per team.
          items:
            $ref: '#/components/schemas/MatchStatistic'
      additionalProperties: true
    MatchListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Match'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    MatchDetailResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          $ref: '#/components/schemas/Match'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    MatchEventsResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MatchEvent'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    MatchStatsResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MatchStatistic'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
  securitySchemes: {}
security: []
