openapi: 3.1.0
info:
  title: SoccersAPI
  description: >-
    REST API for football (soccer) data: search, livescores, fixtures, leagues,
    teams, seasons, players, coaches, referees, venues, statistics, head-to-head,
    bookmakers, markets, broadcasts and media.


    Authentication is required on every request via the `user` and `token`
    query parameters.
  version: 2.2.0
  contact:
    name: SoccersAPI
    url: https://soccersapi.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.soccersapi.com
    description: Production
tags:
  - name: Search
    description: Find matches and football entities by keyword.
  - name: Geography
    description: Continents and countries used by the football data model.
  - name: Competitions
    description: Leagues, seasons, stages, groups and rounds.
  - name: Teams
    description: Team profiles, lists, squads, transfers and related datasets.
  - name: Livescores
    description: Live and day-based match feeds.
  - name: Fixtures
    description: Fixture lists, match details and match-related datasets.
  - name: Statistics
    description: Match, league, season, team and player statistics.
  - name: Head to head
    description: Historical matchups between matches or teams.
  - name: Leaders
    description: Competition leaderboards such as scorers, assists and cards.
  - name: Betting
    description: Bookmakers, markets and match odds metadata.
  - name: Broadcast
    description: Television schedules and match broadcast availability.
  - name: People
    description: Players, coaches and referees.
  - name: Venues
    description: Stadium and venue information.
  - name: Media
    description: Match media and highlight resources.
paths:
  /v2.2/search/:
    get:
      summary: Search
      operationId: search
      tags:
        - Search
      description: |
        Find matches and football entities by keyword. Results are lightweight: they carry the ID and the display name needed to call the resource endpoints, plus a `type` discriminator.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored. The theme column marks datasets that themed plans (Odds, Broadcast) include only for their own theme; Free and Standard plans include every theme for their leagues.

        | `t` | Operation | Required | Optional | Theme |
        | --- | --- | --- | --- | --- |
        | `match` | Search matches. Upcoming and recent matches whose teams or competition match `q`, with kickoff date, teams and league. | `q` | `utc` | core |
        | `league` | Search leagues. Leagues matching `q`, with country. | `q` | — | core |
        | `team` | Search teams. | `q` | — | core |
        | `player` | Search players. | `q` | — | core |
        | `referee` | Search referees. | `q` | — | core |
        | `country` | Search countries. | `q` | — | core |
        | `continent` | Search continents. | `q` | — | core |
        | `tv` | Search TV channels. TV channels matching `q`, for use with broadcast operations. | `q` | — | broadcast |

        `t=channel` is accepted as an alias of `t=tv`. Search responses are not paginated and report `meta.count` and `meta.total` as `0`; use the length of `data`.

        ## Examples

        Search matches:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=match&q=salzburg
        ```

        Search leagues:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=league&q=bundesliga
        ```

        Search teams:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=team&q=barcelona
        ```

        Search players:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=player&q=ronaldo
        ```

        Search referees:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=referee&q=clattenburg
        ```

        Search countries:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=country&q=austria
        ```

        Search continents:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=continent&q=europe
        ```

        Search TV channels:

        ```http
        GET /v2.2/search/?user=USER&token=TOKEN&t=tv&q=dazn
        ```
      x-operations:
        - t: match
          title: Search matches
          purpose: Upcoming and recent matches whose teams or competition match `q`, with kickoff date, teams and league.
          required:
            - q
          optional:
            - utc
          schema: SearchResponse
          example: q=salzburg
        - t: league
          title: Search leagues
          purpose: Leagues matching `q`, with country.
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=bundesliga
        - t: team
          title: Search teams
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=barcelona
        - t: player
          title: Search players
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=ronaldo
        - t: referee
          title: Search referees
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=clattenburg
        - t: country
          title: Search countries
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=austria
        - t: continent
          title: Search continents
          required:
            - q
          optional: []
          schema: SearchResponse
          example: q=europe
        - t: tv
          title: Search TV channels
          purpose: TV channels matching `q`, for use with broadcast operations.
          required:
            - q
          optional: []
          schema: SearchResponse
          theme: broadcast
          example: q=dazn
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: match
          schema:
            type: string
            enum:
              - match
              - league
              - team
              - player
              - referee
              - country
              - continent
              - tv
            x-enumDescriptions:
              match: Search matches
              league: Search leagues
              team: Search teams
              player: Search players
              referee: Search referees
              country: Search countries
              continent: Search continents
              tv: Search TV channels
        - name: q
          in: query
          required: true
          description: 'Search text: part of a team, league, player, referee, country, continent or TV channel name. Required by every operation.'
          schema:
            type: string
          example: salzburg
        - $ref: '#/components/parameters/Utc'
      responses:
        '200':
          description: Array of search results. Match results carry `startdate`, `home`, `away`, `league_name`, `country_name` and `cc`; entity results carry `id`, `name` and `type`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              examples:
                match:
                  summary: Search matches
                  value:
                    data:
                      - id: 2612624
                        startdate: '2026-09-04 17:00:00'
                        name: Sak salzburg vs Atsv salzburg
                        home: Sak salzburg
                        away: Atsv salzburg
                        league_name: Regionalliga Salzburg
                        country_name: Austria
                        cc: at
                        type: match
                      - id: 2598573
                        startdate: '2026-09-05 14:30:00'
                        name: Austria salzburg vs First vienna
                        home: Austria salzburg
                        away: First vienna
                        league_name: OFB Cup
                        country_name: Austria
                        cc: at
                        type: match
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                league:
                  summary: Search leagues
                  value:
                    data:
                      - id: 1855
                        name: 2. Bundesliga, Women
                        country_name: Germany
                        cc: de
                        type: league
                      - id: 592
                        name: 2nd Bundesliga
                        country_name: Germany
                        cc: de
                        type: league
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                team:
                  summary: Search teams
                  value:
                    data:
                      - id: 99
                        name: Barcelona
                        type: team
                      - id: 3233
                        name: Barcelona
                        type: team
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                player:
                  summary: Search players
                  value:
                    data:
                      - id: 155067
                        name: Abarca, Ronaldo
                        type: player
                      - id: 208615449
                        name: Afonso, Ronaldo
                        type: player
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                referee:
                  summary: Search referees
                  value:
                    data:
                      - id: 1313
                        name: Clattenburg, Mark
                        type: referee
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                country:
                  summary: Search countries
                  value:
                    data:
                      - id: 15
                        name: Austria
                        cc: at
                        type: country
                      - id: 16
                        name: Austria Amateur
                        cc: null
                        type: country
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                continent:
                  summary: Search continents
                  value:
                    data:
                      - id: 2
                        name: Europe
                        type: continent
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
                tv:
                  summary: Search TV channels
                  value:
                    data:
                      - id: 8454
                        name: 214 DAZN Zona
                        type: channel / broadcast
                      - id: 9361
                        name: 215 DAZN Zona
                        type: channel / broadcast
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/continents/:
    get:
      summary: Continents
      operationId: getContinents
      tags:
        - Geography
      description: |
        Continents of the football data model. Catalogue data, not filtered by the leagues enabled on the account.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `list` | All continents. | — | — |
        | `info` | Continent by ID. | `id` | — |

        ## Examples

        All continents:

        ```http
        GET /v2.2/continents/?user=USER&token=TOKEN&t=list
        ```

        Continent by ID:

        ```http
        GET /v2.2/continents/?user=USER&token=TOKEN&t=info&id=2
        ```
      x-operations:
        - t: list
          title: All continents
          required: []
          optional: []
          schema: DataResponse
          example: ''
        - t: info
          title: Continent by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=2
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: list
          schema:
            type: string
            enum:
              - list
              - info
            x-enumDescriptions:
              list: All continents
              info: Continent by ID
        - name: id
          in: query
          required: false
          description: Continent ID. Required when `t` is `info`.
          schema:
            type: string
          example: '2'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                list:
                  summary: All continents
                  value:
                    data:
                      - id: 4
                        name: North America
                      - id: 2
                        name: Europe
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 7
                      total: 7
                      msg: ''
                info:
                  summary: Continent by ID
                  value:
                    data:
                      id: 2
                      name: Europe
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/countries/:
    get:
      summary: Countries
      operationId: getCountries
      tags:
        - Geography
      description: |
        Countries of the football data model, with continent, ISO code and flag image. Catalogue data, not filtered by the leagues enabled on the account.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `list` | All countries. Every country. Paginated, 100 items per page. | — | `page` |
        | `info` | Country by ID. | `id` | — |

        ## Examples

        All countries:

        ```http
        GET /v2.2/countries/?user=USER&token=TOKEN&t=list&page=1
        ```

        Country by ID:

        ```http
        GET /v2.2/countries/?user=USER&token=TOKEN&t=info&id=4
        ```
      x-operations:
        - t: list
          title: All countries
          purpose: Every country. Paginated, 100 items per page.
          required: []
          optional:
            - page
          schema: DataResponse
          paginated: true
          example: page=1
        - t: info
          title: Country by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=4
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: list
          schema:
            type: string
            enum:
              - list
              - info
            x-enumDescriptions:
              list: All countries
              info: Country by ID
        - name: id
          in: query
          required: false
          description: Country ID. Required when `t` is `info`.
          schema:
            type: string
          example: '4'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                list:
                  summary: All countries
                  value:
                    data:
                      - id: 136
                        name: Africa
                        continent: Africa
                        sub_region: null
                        code: null
                      - id: 9
                        name: Algeria
                        continent: Africa
                        sub_region: null
                        code: dz
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 2
                      count: 100
                      total: 139
                      msg: ''
                info:
                  summary: Country by ID
                  value:
                    data:
                      id: 4
                      name: Germany
                      continent: Europe
                      sub_region: null
                      long: null
                      lat: null
                      img: https://cdn.soccersapi.com/images/countries/30/de.png
                      code: de
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/leagues/:
    get:
      summary: Leagues and standings
      operationId: getLeagues
      tags:
        - Competitions
      description: |
        League profiles, league lists, standings and cup brackets. A league profile carries its `seasons` array and the IDs of the current season, stage and round, which are the entry points for fixtures, standings and leaders.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `list` | Leagues. Leagues available to the account, optionally filtered by country. Paginated, 100 items per page. | — | `country_id`, `page` |
        | `info` | League by ID. League profile with seasons and current season, stage and round. | `id` | — |
        | `sort` | Leagues by multiple IDs. Several league profiles in one request. | `ids` | — |
        | `standings` | Standings. League table for a season. Competitions with several tables (groups, splits) return one entry per table, identified by `number_standings`. | `season_id` | — |
        | `standings_live` | Live standings. Rolling table that includes the matches currently in play. | `season_id` | — |
        | `cup_draw` | Cup draw (tournament bracket). Knockout bracket of a cup stage. | `season_id`, `stage_id` | — |

        The public reference shows `t=multiple&id=…` on one page for the batch lookup; `t=sort&ids=…` is the form shared with teams and fixtures.

        ## Examples

        Leagues:

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=list&country_id=4
        ```

        League by ID:

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=info&id=1005
        ```

        Leagues by multiple IDs:

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=sort&ids=974,1005,1609
        ```

        Standings:

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=standings&season_id=406
        ```

        Live standings:

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=standings_live&season_id=406
        ```

        Cup draw (tournament bracket):

        ```http
        GET /v2.2/leagues/?user=USER&token=TOKEN&t=cup_draw&season_id=45&stage_id=26
        ```
      x-operations:
        - t: list
          title: Leagues
          purpose: Leagues available to the account, optionally filtered by country. Paginated, 100 items per page.
          required: []
          optional:
            - country_id
            - page
          schema: DataResponse
          paginated: true
          example: country_id=4
        - t: info
          title: League by ID
          purpose: League profile with seasons and current season, stage and round.
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=1005
        - t: sort
          title: Leagues by multiple IDs
          purpose: Several league profiles in one request.
          required:
            - ids
          optional: []
          schema: DataResponse
          example: ids=974,1005,1609
        - t: standings
          title: Standings
          purpose: League table for a season. Competitions with several tables (groups, splits) return one entry per table, identified by `number_standings`.
          required:
            - season_id
          optional: []
          schema: StandingsResponse
          example: season_id=406
        - t: standings_live
          title: Live standings
          purpose: Rolling table that includes the matches currently in play.
          required:
            - season_id
          optional: []
          schema: StandingsResponse
          example: season_id=406
        - t: cup_draw
          title: Cup draw (tournament bracket)
          purpose: Knockout bracket of a cup stage.
          required:
            - season_id
            - stage_id
          optional: []
          schema: DataResponse
          example: season_id=45&stage_id=26
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: list
          schema:
            type: string
            enum:
              - list
              - info
              - sort
              - standings
              - standings_live
              - cup_draw
            x-enumDescriptions:
              list: Leagues
              info: League by ID
              sort: Leagues by multiple IDs
              standings: Standings
              standings_live: Live standings
              cup_draw: Cup draw (tournament bracket)
        - name: id
          in: query
          required: false
          description: League ID. Required when `t` is `info`.
          schema:
            type: string
          example: '1005'
        - name: ids
          in: query
          required: false
          description: Comma-separated league IDs, without spaces. Required when `t` is `sort`.
          schema:
            type: string
          example: 974,1005,1609
        - name: country_id
          in: query
          required: false
          description: Country ID. Optional for `list`.
          schema:
            type: string
          example: '4'
        - name: season_id
          in: query
          required: false
          description: Season ID. Required when `t` is `standings`, `standings_live`, `cup_draw`.
          schema:
            type: string
          example: '406'
        - name: stage_id
          in: query
          required: false
          description: Stage ID. Required when `t` is `cup_draw`.
          schema:
            type: string
          example: '26'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: |-
            The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.

            - `t=list`: DataResponse
            - `t=info`: DataResponse
            - `t=sort`: DataResponse
            - `t=standings`: StandingsResponse
            - `t=standings_live`: StandingsResponse
            - `t=cup_draw`: DataResponse
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/DataResponse'
                  - $ref: '#/components/schemas/StandingsResponse'
              examples:
                list:
                  summary: Leagues
                  value:
                    data:
                      - id: '6225'
                        name: Oberliga NOFV
                        is_cup: '0'
                        is_amateur: '1'
                        is_friendly: '0'
                        img: https://cdn.soccersapi.com/images/soccer/leagues/100/6225.png
                        id_current_season: '15860'
                        id_current_stage: null
                        id_current_round: null
                        continent:
                          id: '2'
                          name: Europe
                        country:
                          id: '4'
                          name: Germany
                          cc: de
                        seasons: []
                      - id: '594'
                        name: Bundesliga
                        is_cup: '0'
                        is_amateur: '0'
                        is_friendly: '0'
                        img: https://cdn.soccersapi.com/images/soccer/leagues/100/594.png
                        id_current_season: '21268'
                        id_current_stage: '1'
                        id_current_round: '220932'
                        continent:
                          id: '2'
                          name: Europe
                        country:
                          id: '4'
                          name: Germany
                          cc: de
                        seasons: []
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 40
                      total: 40
                      msg: ''
                info:
                  summary: League by ID
                  value:
                    data:
                      id: 1005
                      name: Tipico Bundesliga
                      is_cup: '0'
                      is_amateur: '0'
                      is_friendly: '0'
                      img: https://cdn.soccersapi.com/images/soccer/leagues/100/1005.png
                      id_current_season: '21096'
                      id_current_stage: '1'
                      id_current_round: '217291'
                      continent:
                        id: 2
                        name: Europe
                      country:
                        id: 15
                        name: Austria
                        cc: at
                      seasons:
                        - id: 21096
                          name: 26/27
                          is_current: '1'
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                sort:
                  summary: Leagues by multiple IDs
                  value:
                    data:
                      - id: '974'
                        name: A-League
                        is_cup: '0'
                        is_amateur: '0'
                        is_friendly: '0'
                        img: https://cdn.soccersapi.com/images/soccer/leagues/100/974.png
                        id_current_season: '21306'
                        id_current_stage: '1'
                        id_current_round: '221498'
                        continent:
                          id: '7'
                          name: Oceania
                        country:
                          id: '14'
                          name: Australia
                          cc: au
                        seasons:
                          - id: 21306
                            name: 26/27
                            is_current: '1'
                      - id: '1005'
                        name: Tipico Bundesliga
                        is_cup: '0'
                        is_amateur: '0'
                        is_friendly: '0'
                        img: https://cdn.soccersapi.com/images/soccer/leagues/100/1005.png
                        id_current_season: '21096'
                        id_current_stage: '1'
                        id_current_round: '217291'
                        continent:
                          id: '2'
                          name: Europe
                        country:
                          id: '15'
                          name: Austria
                          cc: at
                        seasons:
                          - id: 21096
                            name: 26/27
                            is_current: '1'
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 3
                      total: 3
                      msg: ''
                standings:
                  summary: Standings
                  value:
                    data:
                      league_id: 594
                      season_id: 406
                      has_groups: 0
                      number_standings: 1
                      standings:
                        - team_id: 111
                          team_name: FC Bayern Munich
                          group: Bundesliga
                          group_name: ''
                          overall:
                            games_played: 34
                            won: 26
                            draw: 4
                            lost: 4
                            goals_diff: 68
                            goals_scored: 100
                            goals_against: 32
                            points: 82
                            position: 1
                          home:
                            games_played: 17
                            won: 13
                            draw: 2
                            lost: 2
                            goals_diff: 38
                            goals_scored: 53
                            goals_against: 15
                            points: 41
                            position: 1
                          away:
                            games_played: 17
                            won: 13
                            draw: 2
                            lost: 2
                            goals_diff: 30
                            goals_scored: 47
                            goals_against: 17
                            points: 41
                            position: 1
                          total: 34
                          status: Promotion
                          result: Champions League
                          points: 82
                          recent_form: WWWWW
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                standings_live:
                  summary: Live standings
                  value:
                    data:
                      league_id: 594
                      season_id: '406'
                      has_groups: 0
                      number_standings: 1
                      standings:
                        - team_id: '111'
                          team_name: FC Bayern Munich
                          group: Bundesliga
                          group_name: ''
                          overall:
                            games_played: 34
                            won: 26
                            draw: 4
                            lost: 4
                            goals_diff: 68
                            goals_scored: 100
                            goals_against: 32
                            points: 82
                            position: 1
                          home:
                            games_played: 17
                            won: 13
                            draw: 2
                            lost: 2
                            goals_diff: 38
                            goals_scored: 53
                            goals_against: 15
                            points: 41
                            position: 1
                          away:
                            games_played: 17
                            won: 13
                            draw: 2
                            lost: 2
                            goals_diff: 30
                            goals_scored: 47
                            goals_against: 17
                            points: 41
                            position: 1
                          total: 34
                          status: Promotion
                          result: Champions League
                          points: 82
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                cup_draw:
                  summary: Cup draw (tournament bracket)
                  value:
                    data: []
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 0
                      total: 0
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/teams/:
    get:
      summary: Teams
      operationId: getTeams
      tags:
        - Teams
      description: |
        Team profiles, lists, squads, transfers, sidelined players and trophies. A team profile carries its seasons and the leagues it takes part in.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `info` | Team by ID. Team profile with venue, coach, kit colours, seasons and leagues. | `id` | — |
        | `list` | Teams by country. Paginated, 100 items per page. | `country_id` | `page` |
        | `sort` | Teams by multiple IDs. | `ids` | — |
        | `byseason` | Teams by season. Teams taking part in a season. | `season_id` | — |
        | `national` | National teams. Paginated, 100 items per page. | — | `page` |
        | `squad` | Team squad. Current squad, or the squad of a past season when `season_id` is given. | `id` | `season_id` |
        | `transfers` | Team transfers. Arrivals and departures with fee and date. | `id` | — |
        | `sidelined` | Team sidelined players. Injured and suspended players. | `id` | — |
        | `trophies` | Team trophies. | `id` | — |

        ## Examples

        Team by ID:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=info&id=111
        ```

        Teams by country:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=list&country_id=4
        ```

        Teams by multiple IDs:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=sort&ids=19,99,108
        ```

        Teams by season:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=byseason&season_id=13480
        ```

        National teams:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=national
        ```

        Team squad:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=squad&id=2868
        ```

        Team transfers:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=transfers&id=111
        ```

        Team sidelined players:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=sidelined&id=111
        ```

        Team trophies:

        ```http
        GET /v2.2/teams/?user=USER&token=TOKEN&t=trophies&id=111
        ```
      x-operations:
        - t: info
          title: Team by ID
          purpose: Team profile with venue, coach, kit colours, seasons and leagues.
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=111
        - t: list
          title: Teams by country
          purpose: Paginated, 100 items per page.
          required:
            - country_id
          optional:
            - page
          schema: DataResponse
          paginated: true
          example: country_id=4
        - t: sort
          title: Teams by multiple IDs
          required:
            - ids
          optional: []
          schema: DataResponse
          example: ids=19,99,108
        - t: byseason
          title: Teams by season
          purpose: Teams taking part in a season.
          required:
            - season_id
          optional: []
          schema: DataResponse
          example: season_id=13480
        - t: national
          title: National teams
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - page
          schema: DataResponse
          paginated: true
          example: ''
        - t: squad
          title: Team squad
          purpose: Current squad, or the squad of a past season when `season_id` is given.
          required:
            - id
          optional:
            - season_id
          schema: DataResponse
          example: id=2868
        - t: transfers
          title: Team transfers
          purpose: Arrivals and departures with fee and date.
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=111
        - t: sidelined
          title: Team sidelined players
          purpose: Injured and suspended players.
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=111
        - t: trophies
          title: Team trophies
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=111
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: info
          schema:
            type: string
            enum:
              - info
              - list
              - sort
              - byseason
              - national
              - squad
              - transfers
              - sidelined
              - trophies
            x-enumDescriptions:
              info: Team by ID
              list: Teams by country
              sort: Teams by multiple IDs
              byseason: Teams by season
              national: National teams
              squad: Team squad
              transfers: Team transfers
              sidelined: Team sidelined players
              trophies: Team trophies
        - name: id
          in: query
          required: false
          description: Team ID. Required when `t` is `info`, `squad`, `transfers`, `sidelined`, `trophies`.
          schema:
            type: string
          example: '111'
        - name: ids
          in: query
          required: false
          description: Comma-separated team IDs, without spaces. Required when `t` is `sort`.
          schema:
            type: string
          example: 19,99,108
        - name: country_id
          in: query
          required: false
          description: Country ID. Required when `t` is `list`.
          schema:
            type: string
          example: '4'
        - name: season_id
          in: query
          required: false
          description: Season ID. Required when `t` is `byseason`. Optional for `squad`.
          schema:
            type: string
          example: '13480'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                info:
                  summary: Team by ID
                  value:
                    data:
                      id: 111
                      common_name: Bayern Munich
                      name: FC Bayern Munich
                      short_code: BMU
                      is_national: 0
                      img: https://cdn.soccersapi.com/images/soccer/teams/100/111.png
                      current_seasons:
                        - 21268
                      leagues:
                        - id: '594'
                          name: Bundesliga
                          is_cup: '0'
                          is_amateur: '0'
                          is_friendly: '0'
                          current_season_id: '21268'
                          seasons:
                            - id: 21268
                              name: 26/27
                              is_current: 1
                      founded: '1900'
                      twitter: FCBayern
                      coach_id: 5992
                      venue_id: 1446
                      kit:
                        - type: home
                          colors:
                            shirt: '#f23a3a'
                            sleeve: '#ffffff'
                            number: '#ffffff'
                      country:
                        id: 4
                        name: Germany
                        cc: de
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                list:
                  summary: Teams by country
                  value:
                    data:
                      - id: 98
                        name: Borussia Dortmund
                        country_id: '4'
                        country:
                          id: 4
                          name: Germany
                          cc: de
                      - id: 101
                        name: RB Leipzig
                        country_id: '4'
                        country:
                          id: 4
                          name: Germany
                          cc: de
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 8
                      count: 100
                      total: 746
                      msg: ''
                sort:
                  summary: Teams by multiple IDs
                  value:
                    data:
                      - id: 19
                        common_name: Manchester United
                        name: Manchester United
                        short_code: MUN
                        is_national: 0
                        img: https://cdn.soccersapi.com/images/soccer/teams/100/19.png
                        current_seasons:
                          - 21033
                        leagues:
                          - id: '583'
                            name: Premier League
                            is_cup: '0'
                            is_amateur: '0'
                            is_friendly: '0'
                            current_season_id: '21033'
                            seasons:
                              - id: 21033
                                name: 26/27
                                is_current: 1
                        founded: '1878'
                        twitter: ManUtd
                        coach_id: 7681
                        venue_id: 1878
                        kit:
                          - type: home
                            colors:
                              shirt: '#ea0000'
                              sleeve: '#000000'
                              sleeve_detail: '#ea0000'
                              number: '#ffffff'
                        country:
                          id: 3
                          name: England
                          cc: en
                      - id: 99
                        common_name: Barcelona
                        name: FC Barcelona
                        short_code: BAR
                        is_national: 0
                        img: https://cdn.soccersapi.com/images/soccer/teams/100/99.png
                        current_seasons:
                          - 21233
                        leagues:
                          - id: '637'
                            name: LaLiga
                            is_cup: '0'
                            is_amateur: '0'
                            is_friendly: '0'
                            current_season_id: '21233'
                            seasons:
                              - id: 21233
                                name: 26/27
                                is_current: 1
                        founded: '1899'
                        twitter: FCBarcelona
                        coach_id: 662
                        venue_id: 86
                        kit:
                          - type: home
                            colors:
                              shirt: '#282e60'
                              sleeve: '#0d0d0d'
                              number: '#efc006'
                        country:
                          id: 5
                          name: Spain
                          cc: es
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 3
                      total: 3
                      msg: ''
                byseason:
                  summary: Teams by season
                  value:
                    data:
                      - id: 2810
                        name: Werder Bremen
                        country_id: 4
                      - id: 111
                        name: FC Bayern Munich
                        country_id: 4
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 19
                      total: 19
                      msg: ''
                national:
                  summary: National teams
                  value:
                    data:
                      - id: 21
                        name: Turkey
                        country_id: 1
                      - id: 22
                        name: Italy
                        country_id: 1
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 13
                      count: 100
                      total: 1231
                      msg: ''
                squad:
                  summary: Team squad
                  value:
                    data:
                      formation: null
                      squad:
                        - player:
                            id: 28581448
                            name: Savic
                            common_name: ''
                            firstname: Savic
                            lastname: ' Sergej'
                            weight: null
                            height: 186
                            age: 18
                            img: https://cdn.soccersapi.com/images/soccer/players/50/28581448.png
                            country:
                              id: 15
                              name: Austria
                              cc: at
                          number: 3
                          captain: null
                          position: D
                          order: null
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                transfers:
                  summary: Team transfers
                  value:
                    data:
                      arrivals:
                        - player:
                            id: null
                            name: Noel Aseko
                          type: Buy
                          date: null
                          fee: €2.50m
                          team_left:
                            id: 2850
                            name: Hannover 96
                      departures:
                        - player:
                            id: 30733
                            name: Daniel Peretz
                          type: Sell
                          date: null
                          fee: €8.00m
                          team_join:
                            id: 8
                            name: Southampton
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                sidelined:
                  summary: Team sidelined players
                  value:
                    data:
                      id: 111
                      name: Bayern Munich
                      types:
                        injuries:
                          - player:
                              id: 17326
                              name: Davies, Alphonso
                            reason: Injured
                            since: '2026-05-08'
                            expected_return: '?'
                        suspension: []
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
                trophies:
                  summary: Team trophies
                  value:
                    data:
                      season_id: null
                      trophies:
                        - id: 746
                          name: German Super Cup Winner
                          seasons:
                            - 25/26
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 25
                      total: 25
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/seasons/:
    get:
      summary: Seasons
      operationId: getSeasons
      tags:
        - Competitions
      description: |
        Season details. Season IDs come from a league profile (`leagues?t=info`) and are the key for fixtures, standings, teams, statistics and leaders.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `info` | Season by ID. | `id` | — |

        ## Examples

        Season by ID:

        ```http
        GET /v2.2/seasons/?user=USER&token=TOKEN&t=info&id=406
        ```
      x-operations:
        - t: info
          title: Season by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=406
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: info
          schema:
            type: string
            enum:
              - info
            x-enumDescriptions:
              info: Season by ID
        - name: id
          in: query
          required: true
          description: Season ID. Required by every operation.
          schema:
            type: string
          example: '406'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                info:
                  summary: Season by ID
                  value:
                    data:
                      id: 406
                      name: 19/20
                      is_current: 0
                      start: '2019-08-16'
                      end: '2020-07-06'
                      league_id: 594
                      current_round_id: 1994
                      current_stage_id: '1'
                      round_ids:
                        - '1994'
                      stages:
                        - id: 1
                          name: Regular Season
                          is_current: 1
                          has_standings: 1
                          has_cupdraw: 1
                      order: 57
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/stages/:
    get:
      summary: Stages
      operationId: getStages
      tags:
        - Competitions
      description: |
        Stages of a season, such as regular season, play-offs or knockout rounds.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `byseason` | Stages by season. | `season_id` | — |
        | `info` | Stage by ID. | `id` | — |

        ## Examples

        Stages by season:

        ```http
        GET /v2.2/stages/?user=USER&token=TOKEN&t=byseason&season_id=2091
        ```

        Stage by ID:

        ```http
        GET /v2.2/stages/?user=USER&token=TOKEN&t=info&id=26
        ```
      x-operations:
        - t: byseason
          title: Stages by season
          required:
            - season_id
          optional: []
          schema: DataResponse
          example: season_id=2091
        - t: info
          title: Stage by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=26
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: byseason
          schema:
            type: string
            enum:
              - byseason
              - info
            x-enumDescriptions:
              byseason: Stages by season
              info: Stage by ID
        - name: id
          in: query
          required: false
          description: Stage ID. Required when `t` is `info`.
          schema:
            type: string
          example: '26'
        - name: season_id
          in: query
          required: false
          description: Season ID. Required when `t` is `byseason`.
          schema:
            type: string
          example: '2091'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                byseason:
                  summary: Stages by season
                  value:
                    data:
                      - id: 20
                        name: Conference
                        is_current: 1
                        has_standings: 1
                        has_cupdraw: 1
                      - id: 6
                        name: Group stage
                        is_current: 0
                        has_standings: 1
                        has_cupdraw: 1
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 3
                      total: 3
                      msg: ''
                info:
                  summary: Stage by ID
                  value:
                    data:
                      id: '26'
                      name: Knockout
                      has_standings: null
                      has_cupdraw: null
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/groups/:
    get:
      summary: Groups
      operationId: getGroups
      tags:
        - Competitions
      description: |
        Groups of a season for competitions with a group phase.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `byseason` | Groups by season. | `season_id` | — |
        | `info` | Group by ID. | `id` | — |

        ## Examples

        Groups by season:

        ```http
        GET /v2.2/groups/?user=USER&token=TOKEN&t=byseason&season_id=7011
        ```

        Group by ID:

        ```http
        GET /v2.2/groups/?user=USER&token=TOKEN&t=info&id=5108
        ```
      x-operations:
        - t: byseason
          title: Groups by season
          required:
            - season_id
          optional: []
          schema: DataResponse
          example: season_id=7011
        - t: info
          title: Group by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=5108
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: byseason
          schema:
            type: string
            enum:
              - byseason
              - info
            x-enumDescriptions:
              byseason: Groups by season
              info: Group by ID
        - name: id
          in: query
          required: false
          description: Group ID. Required when `t` is `info`.
          schema:
            type: string
          example: '5108'
        - name: season_id
          in: query
          required: false
          description: Season ID. Required when `t` is `byseason`.
          schema:
            type: string
          example: '7011'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                byseason:
                  summary: Groups by season
                  value:
                    data:
                      - stage_id: 2
                        stage_name: Playoffs
                        groups:
                          - id: 200
                            name: Knockout stage
                      - stage_id: 6
                        stage_name: Group stage
                        groups:
                          - id: 2065
                            name: A
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 3
                      total: 3
                      msg: ''
                info:
                  summary: Group by ID
                  value:
                    data:
                      id: '5108'
                      name: Pro League 22/23
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/rounds/:
    get:
      summary: Rounds
      operationId: getRounds
      tags:
        - Competitions
      description: |
        Rounds (match days) of a season.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `byseason` | Rounds by season. | `season_id` | — |
        | `info` | Round by ID. | `id` | — |

        ## Examples

        Rounds by season:

        ```http
        GET /v2.2/rounds/?user=USER&token=TOKEN&t=byseason&season_id=406
        ```

        Round by ID:

        ```http
        GET /v2.2/rounds/?user=USER&token=TOKEN&t=info&id=1994
        ```
      x-operations:
        - t: byseason
          title: Rounds by season
          required:
            - season_id
          optional: []
          schema: DataResponse
          example: season_id=406
        - t: info
          title: Round by ID
          required:
            - id
          optional: []
          schema: DataResponse
          example: id=1994
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: byseason
          schema:
            type: string
            enum:
              - byseason
              - info
            x-enumDescriptions:
              byseason: Rounds by season
              info: Round by ID
        - name: id
          in: query
          required: false
          description: Round ID. Required when `t` is `info`.
          schema:
            type: string
          example: '1994'
        - name: season_id
          in: query
          required: false
          description: Season ID. Required when `t` is `byseason`.
          schema:
            type: string
          example: '406'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponse'
              examples:
                byseason:
                  summary: Rounds by season
                  value:
                    data:
                      - id: 1994
                        name: '1'
                        league_id: 594
                        season_id: 406
                        is_current: 1
                      - id: 1995
                        name: '2'
                        league_id: 594
                        season_id: 406
                        is_current: 0
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 35
                      total: 35
                      msg: ''
                info:
                  summary: Round by ID
                  value:
                    data:
                      id: '1994'
                      name: '1'
                      league_id: '594'
                      season_id: '406'
                      is_current: 1
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 1
                      total: 1
                      msg: ''
        '400':
          description: Invalid `t` value, invalid parameter value or missing operation-specific parameter.
        '401':
          description: Missing or invalid `user` or `token`.
        '403':
          description: The league, dataset or operation is not available on the account plan.
        '429':
          description: Request allowance exhausted.
        4XX:
          $ref: '#/components/responses/ClientError'
  /v2.2/livescores/:
    get:
      summary: Livescores
      operationId: getLivescores
      tags:
        - Livescores
      description: |
        Match feeds for matches in play and for the current, previous and next day. Every feed returns match objects with status, clock, scores, teams and league, and can embed datasets through `include`.

        ## Operations

        The `t` query parameter selects the operation. Parameters not listed for an operation are ignored.

        | `t` | Operation | Required | Optional |
        | --- | --- | --- | --- |
        | `live` | Matches in play. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |
        | `today` | Today's matches. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |
        | `tomorrow` | Tomorrow's matches. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |
        | `yesterday` | Yesterday's matches. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |
        | `notstarted` | Today's matches not started. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |
        | `ended` | Today's matches ended. Paginated, 100 items per page. | — | `include`, `utc`, `lang`, `odds_format`, `page` |

        ## Includes

        Comma-separated dataset names for `include`, without spaces:

        - `events`: match timeline (goals, cards, substitutions); see the Match Events guide
        - `stats`: team match statistics, one entry per team
        - `odds_prematch`: pre-match odds where the plan and match coverage provide them (odds theme)
        - `odds_inplay`: in-play odds for matches in play (odds theme)

        ## Live publication behavior

        Scores and event attribution are updated independently. A score change can be visible before the goal event, scorer or assist has been published by the source, and no fixed maximum delay is guaranteed. Keep events on the normal polling cycle: if attribution is incomplete, read it again on the next scheduled poll instead of adding an immediate high-frequency events loop.

        ## Examples

        Matches in play:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=live&include=events,stats
        ```

        Today's matches:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=today&utc=2
        ```

        Tomorrow's matches:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=tomorrow
        ```

        Yesterday's matches:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=yesterday
        ```

        Today's matches not started:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=notstarted
        ```

        Today's matches ended:

        ```http
        GET /v2.2/livescores/?user=USER&token=TOKEN&t=ended
        ```
      x-operations:
        - t: live
          title: Matches in play
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: include=events,stats
        - t: today
          title: Today's matches
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: utc=2
        - t: tomorrow
          title: Tomorrow's matches
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: ''
        - t: yesterday
          title: Yesterday's matches
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: ''
        - t: notstarted
          title: Today's matches not started
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: ''
        - t: ended
          title: Today's matches ended
          purpose: Paginated, 100 items per page.
          required: []
          optional:
            - include
            - utc
            - lang
            - odds_format
            - page
          schema: MatchListResponse
          paginated: true
          example: ''
      parameters:
        - $ref: '#/components/parameters/User'
        - $ref: '#/components/parameters/Token'
        - name: t
          in: query
          required: true
          description: Operation selector. See the operations table.
          example: live
          schema:
            type: string
            enum:
              - live
              - today
              - tomorrow
              - yesterday
              - notstarted
              - ended
            x-enumDescriptions:
              live: Matches in play
              today: Today's matches
              tomorrow: Tomorrow's matches
              yesterday: Yesterday's matches
              notstarted: Today's matches not started
              ended: Today's matches ended
        - name: include
          in: query
          required: false
          description: 'Comma-separated datasets to embed in the response, without spaces. Supported values: `events`, `stats`, `odds_prematch`, `odds_inplay`. See the includes section.'
          example: events,stats
          schema:
            type: string
        - $ref: '#/components/parameters/Utc'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/OddsFormat'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: 'The `data` shape depends on `t`: an object for single-resource operations and an array for lists. `meta` carries the request allowance and pagination.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchListResponse'
              examples:
                live:
                  summary: Matches in play
                  value:
                    data:
                      - id: 2554966
                        status: 1
                        status_name: Inplay
                        status_period: null
                        pitch: null
                        referee_id: null
                        round_id: '212522'
                        round_name: '18'
                        season_id: '16165'
                        season_name: '2026'
                        stage_id: '2105'
                        stage_name: Regular Season - Superleague, Women 2026
                        group_id: '12943'
                        group_name: Superleague, Women 2026
                        aggregate_id: null
                        winner_team_id: null
                        venue_id: null
                        leg: null
                        week: '36'
                        deleted: '0'
                        info: null
                        related_id: null
                        attendance: null
                        time:
                          datetime: '2026-09-04 13:00:00'
                          date: '2026-09-04'
                          time: '13:00:00'
                          minute: null
                          timestamp: 1788526800
                          timezone: UTC
                        teams:
                          home:
                            id: 1192523153
                            name: Zhfk Krylya Sovetov Samara
                            short_code: ZHF
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/1192523153.png
                            form: null
                            coach_id: null
                            kit_colors:
                              home_main_color: '#d8d8d8'
                              home_second_color: '#d8d8d8'
                              home_number_color: '#000000'
                              home_gk_main_color: '#efc131'
                              home_gk_second_color: '#333333'
                              home_gk_number_color: '#000000'
                          away:
                            id: 1192523152
                            name: FC Dinamo Moscow
                            short_code: DIN
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/1192523152.png
                            form: null
                            coach_id: null
                            kit_colors:
                              away_main_color: '#585858'
                              away_second_color: '#585858'
                              away_number_color: '#ffffff'
                              away_gk_main_color: '#efc131'
                              away_gk_second_color: '#333333'
                              away_gk_number_color: '#000000'
                        league:
                          id: 3218
                          name: Premier League, Women
                          type: Superleague, Women 2026
                          country_id: '100'
                          country_name: Russia
                          country_code: ru
                          country_flag: https://cdn.soccersapi.com/images/countries/30/ru.png
                        scores:
                          home_score: '0'
                          away_score: '1'
                          ht_score: 0-1
                          ft_score: 0-1
                          et_score: null
                          ps_score: null
                        standings:
                          home_position: 5
                          away_position: 6
                        assistants:
                          first_assistant_id: null
                          second_assistant_id: null
                          fourth_assistant_id: null
                        coverage:
                          has_lineups: 0
                          has_tvs: 0
                          has_standings: 1
                        weather_report: null
                        events: []
                        stats:
                          - team_id: 1192523153
                            key_passes: null
                            passing_accuracy: null
                            fouls: null
                            injuries: null
                            corners: null
                            crosses: null
                            crossing_accuracy: null
                            offsides: null
                            shots_total: null
                            shots_on_target: null
                            shots_off_target: null
                            shots_blocked: null
                            possessiontime: null
                            possessionpercent: null
                            yellowcards: null
                            yellowredcards: null
                            redcards: null
                            substitutions: null
                            goal_kick: null
                            goal_attempts: null
                            free_kick: null
                            throw_in: null
                            ball_safe: null
                            goals: null
                            penalties: null
                            attacks: null
                            dangerous_attacks: null
                            action_areas: null
                            xg: null
                      - id: 2623911
                        status: 1
                        status_name: Inplay
                        status_period: 2nd Half
                        pitch: null
                        referee_id: null
                        round_id: null
                        round_name: null
                        season_id: '21185'
                        season_name: '2026'
                        stage_id: '1'
                        stage_name: Regular Season
                        group_id: '13769'
                        group_name: U20 Carioca, Serie A 2026, Taca Guanabara
                        aggregate_id: null
                        winner_team_id: null
                        venue_id: '5034'
                        leg: null
                        week: '36'
                        deleted: '0'
                        info: null
                        related_id: null
                        attendance: null
                        time:
                          datetime: '2026-09-04 13:00:00'
                          date: '2026-09-04'
                          time: '13:00:00'
                          minute: '92'
                          timestamp: 1788526800
                          timezone: UTC
                        teams:
                          home:
                            id: 1829638371
                            name: Bangu AC RJ
                            short_code: BAN
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/1829638371.png
                            form: null
                            coach_id: null
                            kit_colors:
                              home_main_color: '#d8d8d8'
                              home_second_color: '#d8d8d8'
                              home_number_color: '#000000'
                              home_gk_main_color: '#efc131'
                              home_gk_second_color: '#333333'
                              home_gk_number_color: '#000000'
                          away:
                            id: 7825
                            name: CR Flamengo RJ U20
                            short_code: FLA
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/7825.png
                            form: null
                            coach_id: '9454'
                            kit_colors:
                              away_main_color: '#ff0000'
                              away_second_color: '#000000'
                              away_number_color: '#000000'
                              away_gk_main_color: '#efc131'
                              away_gk_second_color: '#333333'
                              away_gk_number_color: '#000000'
                        league:
                          id: 5548
                          name: U20 Carioca, Serie A
                          type: U20 Carioca, Serie A 2026, Taca Guanabara
                          country_id: '25'
                          country_name: Brazil
                          country_code: br
                          country_flag: https://cdn.soccersapi.com/images/countries/30/br.png
                        scores:
                          home_score: '0'
                          away_score: '2'
                          ht_score: 0-1
                          ft_score: 0-2
                          et_score: null
                          ps_score: null
                        standings:
                          home_position: 11
                          away_position: 1
                        assistants:
                          first_assistant_id: null
                          second_assistant_id: null
                          fourth_assistant_id: null
                        coverage:
                          has_lineups: 0
                          has_tvs: 0
                          has_standings: 1
                        weather_report:
                          desc: clear/sunny
                          temp:
                            celsius: 28.9
                            fahrenheit: 84
                          wind:
                            kmph: 10.6
                            miles: 6.59
                            direction: NW
                          humidity_percent: 52
                          pressure: 1014
                        events:
                          - team_id: 1829638371
                            type: corner
                            period: 1st half
                            player_id: null
                            player_name: null
                            related_player_id: null
                            related_player_name: null
                            minute: '3'
                            extra_minute: null
                            timestamp: null
                            reason: null
                            injuried: null
                            own_goal: false
                            penalty: false
                            result: null
                            info: 1st Corner kick
                        stats:
                          - team_id: 1829638371
                            key_passes: null
                            passing_accuracy: null
                            fouls: null
                            injuries: null
                            corners: '3'
                            crosses: null
                            crossing_accuracy: null
                            offsides: null
                            shots_total: 16
                            shots_on_target: '1'
                            shots_off_target: '15'
                            shots_blocked: null
                            possessiontime: 45
                            possessionpercent: 50
                            yellowcards: '3'
                            yellowredcards: null
                            redcards: '0'
                            substitutions: '3'
                            goal_kick: null
                            goal_attempts: null
                            free_kick: null
                            throw_in: null
                            ball_safe: null
                            goals: 0
                            penalties: '0'
                            attacks: '134'
                            dangerous_attacks: '68'
                            action_areas: null
                            xg: null
                    meta:
                      requests_left: 2950
                      user: your_username
                      plan: Soccer API 50
                      page: 1
                      pages: 1
                      count: 59
                      total: 59
                      msg: ''
                today:
                  summary: Today's matches
                  value:
                    data:
                      - id: 2665019
                        status: 0
                        status_name: Notstarted
                        status_period: null
                        pitch: null
                        referee_id: null
                        round_id: '222765'
                        round_name: '14'
                        season_id: '21386'
                        season_name: 26/27
                        stage_id: '9'
                        stage_name: Qualification
                        group_id: '14109'
                        group_name: CAF Champions League 26/27, Qualification
                        aggregate_id: null
                        winner_team_id: null
                        venue_id: null
                        leg: 1/2
                        week: '36'
                        deleted: '0'
                        info: null
                        related_id: null
                        attendance: null
                        time:
                          datetime: '2026-09-04 19:00:00'
                          date: '2026-09-04'
                          time: '19:00:00'
                          minute: ''
                          timestamp: 1788548400
                          timezone: UTC+2
                        teams:
                          home:
                            id: 28187
                            name: AL Swehly SC
                            short_code: SWE
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/28187.png
                            form: null
                            coach_id: null
                            kit_colors:
                              home_main_color: '#d8d8d8'
                              home_second_color: '#d8d8d8'
                              home_number_color: '#000000'
                              home_gk_main_color: '#efc131'
                              home_gk_second_color: '#333333'
                              home_gk_number_color: '#000000'
                          away:
                            id: 59734568
                            name: Kvz
                            short_code: KVZ
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/59734568.png
                            form: null
                            coach_id: null
                            kit_colors:
                              away_main_color: '#585858'
                              away_second_color: '#585858'
                              away_number_color: '#ffffff'
                              away_gk_main_color: '#efc131'
                              away_gk_second_color: '#333333'
                              away_gk_number_color: '#000000'
                        league:
                          id: 516
                          name: CAF Champions League
                          type: CAF Champions League 26/27, Qualification
                          country_id: '136'
                          country_name: Africa
                          country_code: null
                          country_flag: null
                        scores:
                          home_score: null
                          away_score: null
                          ht_score: '-'
                          ft_score: '-'
                          et_score: null
                          ps_score: null
                        standings:
                          home_position: 0
                          away_position: 0
                        assistants:
                          first_assistant_id: null
                          second_assistant_id: null
                          fourth_assistant_id: null
                        coverage:
                          has_lineups: 0
                          has_tvs: 0
                          has_standings: 0
                        weather_report: null
                      - id: 2665021
                        status: 0
                        status_name: Notstarted
                        status_period: null
                        pitch: null
                        referee_id: null
                        round_id: '222765'
                        round_name: '14'
                        season_id: '21386'
                        season_name: 26/27
                        stage_id: '9'
                        stage_name: Qualification
                        group_id: '14109'
                        group_name: CAF Champions League 26/27, Qualification
                        aggregate_id: null
                        winner_team_id: null
                        venue_id: null
                        leg: 1/2
                        week: '36'
                        deleted: '0'
                        info: null
                        related_id: null
                        attendance: null
                        time:
                          datetime: '2026-09-04 19:00:00'
                          date: '2026-09-04'
                          time: '19:00:00'
                          minute: ''
                          timestamp: 1788548400
                          timezone: UTC+2
                        teams:
                          home:
                            id: 21993
                            name: AS Port
                            short_code: POR
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/21993.png
                            form: null
                            coach_id: null
                            kit_colors:
                              home_main_color: '#d8d8d8'
                              home_second_color: '#d8d8d8'
                              home_number_color: '#000000'
                              home_gk_main_color: '#efc131'
                              home_gk_second_color: '#333333'
                              home_gk_number_color: '#000000'
                          away:
                            id: 5183
                            name: Zamalek SC
                            short_code: ZAM
                            img: https://cdn.soccersapi.com/images/soccer/teams/80/5183.png
                            form: null
                            coach_id: '1003'
                            kit_colors:
                              away_main_color: '#000099'
                              away_second_color: '#ffffff'
                              away_number_color: '#ffffff'
                              away_gk_main_color: '#000099'
                              away_gk_second_color: '#000099'
                              away_gk_number_color: '#ffffff'
                        league:
                          id: 516
                          name: CAF Champions League
                          type: CAF Champions League 26/27, Qualification
                          country_id: '136'
                          country_name: Africa
                          country_code: null
                          country_flag: null
                        scores:
                          home_score: null
                          away_score: null
                          ht_score: '-'
                          ft_score: '-'
                          et_score: null
                          ps_score: null
                        standings:
                          home_position: 0
                          away_position: 0
[...]
